body{
  background-color: lightcyan;
  text-align: center;
  margin: 0;
}

.text{
  padding-bottom:50px;
}
h1{
  font-family: 'Lobster', cursive;
  font-size: 5rem;
  color: lightslategrey;
}

h2{
  color: mediumslateblue;
  font-family: 'Oswald', sans-serif;
  font-size: 2.2rem;
}
.cliff {
  position:relative;
  padding-bottom:calc(76.00% + 44px);
}
iframe{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;

}
